.work {
  margin-top: 60px;
}

.work * {
  box-sizing: border-box;
}

.work .category-buttons {
  text-align: center;
  margin: 0 0 60px 0;
}

@media (max-width: 864px) {
  .work .category-buttons {
    margin: 0 0 30px 0;
  }

  .work .category-buttons a {
    display: inline-block;
    width: 46%;
    padding: 12px 10px !important;
    margin: 1.5% 1% !important;
  }

  .work .category-buttons a:nth-child(even) {
    margin-right: 0;
  }

  .work .category-buttons a:nth-child(odd) {
    margin-left: 0;
  }
}

@media (min-width: 865px) {
  .work .category-buttons a:first-child {
    margin-left: 0;
  }

  .work .category-buttons a:last-child {
    margin-right: 0;
  }
}

.work .category-buttons a {
  color: #9A9A9A;
  text-decoration: none;
  padding: 9px 15px;
  border: 1px solid #9A9A9A;
  margin: 0 10px;
  cursor: pointer;
}

.work .category-buttons a.active {
  color: #373B3D;
  border: 1px solid #373B3D;
}